div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	
}

div.wpcf7-mail-sent-ok {
    color: #398F14;
    font: 16px "ubuntulight";
    text-align: center;
}

div.wpcf7-mail-sent-ng {
	font: 16px "ubuntulight";
    text-align: center;
	color:#ff0000;
}

div.wpcf7-spam-blocked {
	font: 16px "ubuntulight";
    text-align: center;
	color:#ffa500;
}

div.wpcf7-validation-errors {
	font: 14px "ubuntulight";
    text-align: center;
	color:#f00;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	/*display: inline-block;*/
	display:none;
	font:normal 13px "ubuntulight"
}
.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}